server:
  port: 9106

spring:
  application:
    name: task_manager

  security:
    user:
      name: admin
      password: admin123

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: abhishek
    password: sarasu10
    driver-class-name: oracle.jdbc.driver.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org:
      springframework.security: DEBUG