server:
  port: 9109

spring:

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: abhishek
    password: sarasu10
    driver-class-name: oracle.jdbc.driver.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  file:
    name: logs/app.log

  level:
    org:
      springframework.security: DEBUG